*{
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.animal{
    background-color: rgb(42, 165, 89);
    display: flex;
    justify-content: space-around;

}
.cat_img{
    margin-top: 20px;
    margin-right:100px;
    margin-bottom: 20px;

}
.animal .cat_details{
    margin-top: 35px;
    
  
}
.cat_video video{
    margin-top:20px;
    margin-left: 100px;
}
.audio audio {
    margin-top: 20px;
    margin-right: 15px;
}
.cat_details h1{
      text-align: center;
}
.cat_details p{
    text-align: center;
}
.bird{
    background-color: rgb(180, 40, 52);
    display: flex;
    justify-content: space-around;

}
.parrot_img{
    margin-top: 20px;
    margin-right:100px;
    margin-bottom: 20px;

}
.animal .parrot_details{
    margin-top: 35px;
    
  
}
.parrot_video video{
    margin-top:20px;
    margin-left: 100px;
    
}
.parrot_audio audio {
    margin-top: 30px;
    margin-right: 15px;
}
.parrot_details h1{
      text-align: center;
      margin-top: 40px;
}
.parrot_details p{
    text-align: center;
    margin-top: 10px;
}
.parrot_video{
     margin-top: 20px;
}
.plant{
    background-color: rgb(180, 84, 40);
    display: flex;
    justify-content: space-around;

}
.plant_img{
    margin-top: 50px;
    margin-right:100px;
    margin-bottom: 20px;

}
.plant .plant_details{
    margin-top: 35px;
    margin-bottom: 30px;
    
  
}
.plant_video video{
    margin-top:20px;
    margin-left: 100px;
    
}
.plant_audio audio {
    margin-top: 30px;
    margin-right: 15px;
   
}
.plant_details h1{
      text-align: center;
      margin-top: 40px;
}
.plant_details p{
    text-align: center;
    margin-top: 10px;
}
.plant_video{
     margin-top: 20px;
}

